<div class="row" id="retreatshowpage">
  <h2><%=@instructor.firstname%> <%=@instructor.lastname%></h2>
  <div class="col-md-8 col-md-offset-2" id="retreats">
    <p>Expertise: <%=@instructor.type_of_yoga_practice%></p>
    <p><%=@instructor.description%></p>
    <p>Location: <%=@instructor.city%>, <%=@instructor.state%></p>
    <% @retreats.each do |retreat|%>
    <h3>Upcoming Retreat:</h3>
    <a href ="<%= retreat_path(retreat)%>"><img class= "img-responsive" src="<%=retreat.photos.first.photo_url%>" alt="..."></a>
    <%end%>
  </div>
</div>
