<div class="row" id="retreatshowpage">
  <h2><%=@retreat.title%></h2>
  <div class="col-md-8 col-md-offset-2" id="retreats">
    <!-- <p>Lead By: <a href="../instructors/<@retreat.instructor_id"><@retreat.instructor.firstname></a></p> -->
    <p><%=@retreat.title%></p>
    <%=link_to "Edit", edit_retreat_path(@retreat), class: "btn btn-primary", role: "button"%>
    <p><%=@retreat.description%></p>
    <p><%=@retreat.address%></p>
  </div>
</div>
